// Footer
footer.bg-white.iq-footer
    .container-fluid
    .row
        .col-lg-6.text-center.mx-auto
            p
            | Copyright 2020 &nbsp;
            a(href='/') EvaScribe. &nbsp;
            |  All Rights Reserved.
// Footer END