
// Required meta tags
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
// Favicon
link(rel='shortcut icon' href='../images/favicon.ico')
// Bootstrap CSS
link(rel='stylesheet' href='../css/bootstrap.min.css')
// Typography CSS
link(rel='stylesheet' href='../css/typography.css')
// Style CSS
link(rel='stylesheet' href='../css/style.css')
// Responsive CSS
link(rel='stylesheet' href='../css/responsive.css')
// loader Start

//- DataTables
link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css')
