
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='../js/jquery.min.js')
script(src='../js/popper.min.js')
script(src='../js/bootstrap.min.js')
// Appear JavaScript
script(src='../js/jquery.appear.js')
// Countdown JavaScript
script(src='../js/countdown.min.js')
// Counterup JavaScript
script(src='../js/waypoints.min.js')
script(src='../js/jquery.counterup.min.js')
// Wow JavaScript
script(src='../js/wow.min.js')
// Apexcharts JavaScript
script(src='../js/apexcharts.js')
// Slick JavaScript
script(src='../js/slick.min.js')
// Select2 JavaScript
script(src='../js/select2.min.js')
// Owl Carousel JavaScript
script(src='../js/owl.carousel.min.js')
// Magnific Popup JavaScript
script(src='../js/jquery.magnific-popup.min.js')
// Smooth Scrollbar JavaScript
script(src='../js/smooth-scrollbar.js')
// Chart Custom JavaScript
script(src='../js/chart-custom.js')
// Custom JavaScript
script(src='../js/custom.js')
script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js')
script(src='../js/plugins.js')
script(src='../js/dev.js')