.iq-sidebar
    .iq-sidebar-logo.d-flex.justify-content-between
        a(href='/')
            img.img-fluid(src='../../images/logo.png' alt='')
            span EvaScribe
        .iq-menu-bt.align-self-center
            .wrapper-menu
                .line-menu.half.start
                .line-menu
                .line-menu.half.end
    #sidebar-scrollbar
        nav.iq-sidebar-menu
            ul#iq-sidebar-toggle.iq-menu
                li.iq-menu-title
                    i.ri-separator
                    span Main
                li
                    a.iq-waves-effect(href='../')
                        i.ri-home-4-line
                        span Dashboard
                li
                    a.iq-waves-effect(href='../reminders')
                        i.ri-timer-line
                        span Reminders
                li
                    a.iq-waves-effect(href='../overdue')
                        i.ri-timer-flash-line
                        span Overdue Books
                li.iq-menu-title
                    i.ri-separator
                    span Manage Records
                li
                    a.iq-waves-effect(href='../users')
                        i.ri-stack-line
                        span View/Edit Records
                li
                    a.iq-waves-effect(href='../create')
                        i.ri-file-add-line
                        span Create Records
                li
                    a.iq-waves-effect(href='../delete')
                        i.ri-delete-bin-6-line
                        span Delete Records
    .p-3
