doctype html
head
    // Required meta tags
    include includes/head.pug
        title Error 500 | EvaScribe
// loader Start
include includes/preloader.pug
// Wrapper Start
.wrapper
    .container-fluid.p-0
        .row.no-gutters
            .col-sm-12.text-center
                .iq-error
                    h1 500
                    h4.mb-0 Oops! This Page is Not Working.
                    p The requested is not loaded from the server yet, please wait a few more seconds then try again.
                    a.btn.btn-primary.mt-3(href='/')
                        i.ri-refresh-line
                        | Try Again
                    img.img-fluid.iq-error-img(src='images/error/01.png' alt='')
// Wrapper END
include includes/scripts.pug