doctype html
html
  head
    include includes/head.pug
    title Skeleton | EvaScribe

  body
    include includes/preloader.pug
    // Content start

    // Content end
    
    include includes/scripts.pug